body {
  font-family: "Open Sans", sans-serif;

  background: radial-gradient(#fad2e1, #fff1e6);
  text-align: center;
}
h1 {
  margin: 0 auto 0 auto;
}
#game {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
#game div {
  border: 1px solid black;
  border-radius: 1.5rem;
  width: 150px;
  height: 200px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-property: background-color;
  transition-duration: 2s;
}
button {
  background-color: #deaaff;
  border: none;
  padding: 10px;
  text-align: center;
  display: inline;
  font-size: 1rem;
  margin: 4px 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}
img {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  float: left;
}
form {
  font-size: 2rem;
  background-color: rgba(240, 255, 240, 0.603);
  border-radius: 10px;
}
#win {
  width: 100%;
  height: 50%;
  background-color: rgba(240, 255, 240, 0.603);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
